.header-container {
    display: flex;
    flex-direction: row;
    justify-content:left;
    align-items:center;
    color: whitesmoke;
    height: 10vh;
    background-color: olive;
  }
  .header-link{
    color: whitesmoke;
  }
.logo{
    scale: .05;
}